<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nombres</title>
    <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
<div class="form_nombres" align="center">
    <form method="post">
        <label for="nombre1">Nombre 1:</label><br>
        <input type="text" id="nombre1" name="nombre1" value=" "required><br><br>
        <label for="nombre2">Nombre 2:</label><br>
        <input type="text" id="nombre2" name="nombre2" value=" "required><br><br>
        <label for="nombre3">Nombre 3:</label><br>
        <input type="text" id="nombre3" name="nombre3" value=" "required><br><br>

        <input type="submit" value="Enviar" class="button button3">

        <h6>El nombre con mayor cantidad de caracteres es: {{resultado}}</h6>
        <h6>El nombre tiene: {{mensaje}} caracteres</h6>
</body>
</html>