<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>notas</title>
    <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
<div class="formulario">
    <h1>Formulario de Notas</h1>
    <form method="post">
        <label for="nota1">Nota 1:</label><br>
        <input type="number" id="nota1" name="nota1" min="10" max="70" value=" "required><br><br>
        <label for="nota2">Nota 2:</label><br>
        <input type="number" id="nota2" name="nota2" min="10" max="70" value=" "required><br><br>
        <label for="nota3">Nota 3:</label><br>
        <input type="number" id="nota3" name="nota3" min="10" max="70" value=" "required><br><br>
        <label for="nota3">Asistencia (%):</label><br>
        <input type="number" id="asistencia" name="asistencia" min="0" max="100" value=" "required><br><br>
        <input type="submit" value="Enviar" class="button button3">

        <p>{{resultado}}</p>
        <p>{{mensaje}}</p>

    </form>


</div>
</body>
</html>